In [10]:
import os
import pandas as pd

# Define the folder where your files are
folder_path = '/Users/zainabnazari/mfuzz/specific_st_name/cluster_output/cluster_with_membership_1'  
# Initialize an empty list to store dataframes
dataframes = []

# Loop through files in the folder
for filename in sorted(os.listdir(folder_path)):
    if filename.startswith('cluster_') and filename.endswith('.txt'):  # assuming they are .txt files
        file_path = os.path.join(folder_path, filename)
        df = pd.read_csv(file_path, delimiter="\t")
        dataframes.append(df)

# Check if we loaded any dataframes
if dataframes:
    # Print the first dataframe as an example
    print(dataframes[0])
else:
    print("No files matched the pattern.")

                  sequence    FC_2_6   FC_6_12
0  TACCCTGTAGAACCGAATTTGTG -1.954425 -1.078278
1   CATCTGGGCAACTGATTGAACT -1.344444 -1.186487
2   AGGTCCTCAATAAGTATTTGTT -1.331243 -1.037213
3   TAAGTGCCTGCATGTATATGCG -0.964038 -0.907717
4  AGGCAGTGTAGTTAGCTGATTGC -0.950259 -0.683349
5   AACCCGTAGATCCGAACTTGTG -0.825334 -0.897539
6  AGGTTACCCGAGCAACTTTGCAT -0.722926 -0.987302

In [13]:
dataframes[0]

                  sequence    FC_2_6   FC_6_12
0  TACCCTGTAGAACCGAATTTGTG -1.954425 -1.078278
1   CATCTGGGCAACTGATTGAACT -1.344444 -1.186487
2   AGGTCCTCAATAAGTATTTGTT -1.331243 -1.037213
3   TAAGTGCCTGCATGTATATGCG -0.964038 -0.907717
4  AGGCAGTGTAGTTAGCTGATTGC -0.950259 -0.683349
5   AACCCGTAGATCCGAACTTGTG -0.825334 -0.897539
6  AGGTTACCCGAGCAACTTTGCAT -0.722926 -0.987302

In [14]:
dataframes[1]

                 sequence    FC_2_6   FC_6_12
0  AGCGGGCACAGCTGTGAGAGCC -1.119025  0.845991
1  TCAGGCTCAGTCCCCTCCCGAT -0.509422 -0.406089
2   TCGAGGAGCTCACAGTCTAGT -0.501917  0.550314
3  TTTGAACCATCACTCGACTCCT  0.645608  0.444244
4   GTGCATTGTAGTTGCATTGCA  1.003831 -1.020228

In [15]:
dataframes[2]

                 sequence    FC_2_6   FC_6_12
0  TTGCATATGTAGGATGTCCCAT -1.389448 -1.881322
1  TTCATTCGGCTGTCCAGATGTA -1.332344 -2.108564

In [16]:
dataframes[3]

                 sequence    FC_2_6   FC_6_12
0  TTCCCTTTGTCATCCTATGCCT -0.724089 -0.647708
1   GCTGGGAAGGCAAAGGGACGT -0.617762 -0.683519

In [17]:
dataframes[4]

                 sequence   FC_2_6   FC_6_12
0  CAAATCTTATTTGAGCACCTGT -1.43597 -2.553652